[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
imbalanced-learn = "*"
jupyter = "*"
yellowbrick = "*"
joblib = "*"
shap = "*"
mlxtend = "*"
matplotlib = "*"
seaborn = "*"
explainerdashboard = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
